*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #3161ff;
}
.container{
    width: 900vw;
    max-width: 600px;
    padding: 2em 1.5em;
    background: #fff;
    margin: 1em auto;
    border-radius: 0.5em;
}
h4{
    font-size: 1.5em;
}
.input-section{
    margin: 0.5em 0;

}
label, .error-message{
    display: block;
    font-size: 1em;
}
label{
    margin-bottom: 0.5em ;
    font-weight: 500;
}
input{
    display: block;
    outline: none;
    padding: 0.5em;
    border-radius: 0.3em;
}